[Unit]
Description=Paper Crawler service
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/java/bin/java -jar /papercrawler/app/paper-crawler.jar

[Install]
WantedBy=multi-user.target